*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  /* font-family: 'Cinzel Decorative', cursive; */
  font-family: 'Cinzel', serif;
  overflow-x: hidden;
    box-sizing: border-box;
    height: 100%;
  /* overflow-x: hidden; */
}
body{
  background-color: #f3e3c3;
 
  /* overflow-x: hidden; */
  
  background-image: linear-gradient(450deg, #f3e3c3 0% , #fbe7a1, #ede275);
}
 main{
  /* margin-bottom: 34%; */
  /* padding-bottom: 26%; */
  margin-top: 10%;
} 

.event-container {
  /* font-family: 'Cinzel Decorative', cursive; */
    max-width: 800px;
    margin: 0 auto;
    min-height: 420px;
    overflow: hidden;
  }
  
  .event-container h3.year {
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid #b1b1b1;
  }
  
  .event-container .event {
    box-shadow: 0 4px 16px -8px #1a1815;
    /* display: flex; */
    overflow: hidden;
    /* margin-inline: 60px; */
    background-color: floralwhite;
    border-radius: 8px;
    margin: 32px 20px;
    height: 82px;
  }
  
  
  
  .event .event-left {
    /* background: #222; */
    background: linear-gradient(to right, #00093c , #2d0b00);
    max-width: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    padding: 8px 48px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 0 0 8px;
  }
  
  .event .event-left .date {
    font-size: 15px;
  }
  
  .event .event-left .month {
    font-size: 16px;
    font-weight: normal;
  }
  
  .event .event-right {
    display: flex;
    background-color: floralwhite;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
    
  }
  
 
  
  @media (max-width: 550px) {
    .event {
      flex-direction: column;
    }
    /* .search-box{
      width: 80px;
    } */
  
    .event .event-left {
      padding: 0;
      border-radius: 8px 8px 0 0;
    }
  
    .event .event-left .event-date .date,
    .event .event-left .event-date .month {
      display: inline-block;
      font-size: 24px;
    }
  
    .event .event-left .event-date {
      padding: 10px 0;
    }
  }
  .search-box {
    width: 30%;
    /* position: relative; */
    display: flex;
    /* background-color: floralwhite; */
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
  }
  
  .search-input {
    margin-top: 4%;
    margin-bottom: 4%;
    width: 100%;
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 16px;
    padding: 15px 45px 15px 15px;
     background-color: floralwhite;
    color: #170808;
    box-shadow: 0 0 5px rgba(0,0,0,0.3) ;
    border-radius: 6px;
    border:none;
    transition: all .4s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: cursive; */
  }
  .search-input::placeholder {
    color:  #1b0909;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: cursive; */
  }
  .search-input:focus {
    border:none;
    outline:none;
    box-shadow: 0 1px 12px #3a3630;
    -moz-box-shadow: 0 1px 12px #28241f;
    -webkit-box-shadow: 0 1px 12px #1a1815;
  }
  
  .search-btn {
    background-color: transparent;
    font-size: 18px;
    padding: 6px 9px;
    margin-left:-45px;
    border:none;
    color: #1d0a0a;
    transition: all .4s;
    z-index: 10;
  }
  
  .search-btn:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: black;
  }
  
  .search-btn:focus {
    outline:none;
    color:black;
  }
  
 
  
  
  body{
    /* font-family: cursive;   */
  }
  .background{
    /* background-image: url('https://cdn.wallpapersafari.com/64/57/G4SJ9W.jpg'); */
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    filter: blur(2px);
    z-index: -1;
    
  }
  .textContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 32px;
    font-weight: 1000;
    color: rgb(39, 16, 16);
    text-align: center;
  }
  
  @media screen and (max-width: 768px) {
    .textContainer {
      font-size: 28px;
    }
    
  }
  
  @media screen and (max-width: 480px) {
    .textContainer {
      font-size: 24px;
    }
    /* main {
      margin-bottom: 40%;
      padding-bottom: 49%;
  } */
  }
  
  .invisible {
    visibility: hidden;
  }
  .event-description {
    color: rgb(20, 4, 4); 
    font-weight: 550;
    /* font-family: cursive;  */
  }
  .spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spinner-rotate 1s linear infinite;
  }
  
  @keyframes spinner-rotate {
    to {
      transform: rotate(360deg);
    }
  }

  @media(max-width:700px){
    .search-box{
      width: 57%;
    }
  }
  








  .header{
    padding: 0 2 rem;
    height: 5.3rem;
    top:0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color:black;  */
    background: linear-gradient(to right, #00093c , #2d0b00);
    position: fixed;
    border:3px solid darkblue;
} 


.icon{
    width: 3rem;
    height: 3rem;
}

.icon[name="close-outline"]{
    display: none;
}

.button{
    display: none;
    background: transparent;
    color: white;
    cursor: pointer;
}
.header h2{
     font-size: 1.5rem; 
     /* margin-bottom: 70px;  */
     margin-left: 10px;
    transition: 0.8s;
    background-image: linear-gradient(
        to right,
        #b8860b 0,
        #b8860b 22%, 
        #b8860b 45%,
        #b8860b 50%,
        #b8860b 55%,
        #b8860b 78%,
        #b8860b 100%
        );
       color:transparent;
       -webkit-background-clip:text;
}

.header h2 span{
    color: white;
    font-size: 1.7rem; 
}
body{
    overflow-x: hidden;
}
 .list{
    display: flex;
    font-size: large;
     gap: 4.1rem; 
     margin-right: 12px;
    list-style: none;
    background-image: linear-gradient(
	to right,
    
        white,
        white 22%, 
        gold 45%,
        rgb(214, 217, 31),
        #eac117 55%,
        #eac117 78%,
        #eac117 100% 
	 );
    -webkit-background-clip: text;
}
 /* .list:hover{
    color:white;
    scale(1.2);
    transform: .2s;
}  */

.link:link,.link:visited{
    display: inline-block;
    text-transform:uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
    color:transparent;
}

@media(max-width:920px){
    .button{
        display: block;
        z-index: 999;
        border: 3px solid black;
    }
    main{
      margin-top: 23%;
    }


    .navbar{
        width: 100%;
        height: 100vh;
         /* background: #041a31 ;  */
        background: linear-gradient(to right, #00093c , #2d0b00);
        position: absolute;
        top: 0;
        left: 0;


        display: flex;
        justify-content: center;
        align-items: center;

        transform: translateX(100%);
        transition: all 0.2s linear;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;

      
    }

    .list{
        flex-direction: column;
        align-items:center ;
      
        
    }

    .active .navbar{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .button .icon[name="close-outline"]{
        display: block;
    }

    .active .button .icon[name="menu-outline"]{
        display: none;
    } }








    footer{
      width: 100%;
        position: absolute;  
      bottom: 0;
      margin-top: 10%;
      /* z-index: 1; */
   height: 22.75rem;
      background: linear-gradient(to right, #00093c , #2d0b00);
      color: white;
      padding: 30px 0 20px;
      border-top-left-radius: 125px;
      font-size: 13px;
      line-height: 17px;
  
  }
  .row{
      display: flex;
      justify-content: space-between;
      width: 85%;
      margin: auto;
      flex-wrap: wrap;
      align-items: flex-start;
  }
  .col{
      flex-basis: 25%;
      padding: 10px;
  }
  .logo{
      width: 80px;
      margin-bottom: 30px;
  }
  .col h3{
      width: fit-content;
      margin-bottom: 40px;
      position: relative;  
  }
  ul li{
      list-style: none;
    
      margin-bottom: 12px;
  }
   ul li a{
      text-decoration: none;
       color: white; 
  }
  .social .fa-brands{
      height: 40px;
      border-radius: 50%;
      width: 40px;
      text-align: center;
      line-height: 40px;
      font-size: 20px;
      background: #fff;
      color: #000;
      margin-right: 15px;
      cursor: pointer;
  }
  
  .social .fa-solid{height: 40px;
      border-radius: 50%;
      width: 40px;
      text-align: center;
      line-height: 40px;
      font-size: 20px;
      background: #fff;
      color: #000;
      margin-right: 15px;
      cursor: pointer;}
  h3{
      color: white;
  }
  .col:nth-child(2){
      flex-basis: 15%;
  }
  hr{
      width: 90%;
      border:0;
      border-bottom: 1px solid #ccc;
      margin:20px auto ;
  }
  .copyright{
      text-align: center;
  }
  
  @media(max-width:700px){
      footer{
          bottom: unset;  
      }
      .col{
          flex-basis: 100%;
  
      }
      body{
          box-sizing: unset;
          
      }
      footer{
          padding: 60px 0 30px;
          position: absolute;
          height: unset;
      }
      #contentwrap{
          padding-bottom: unset;
      }
  }
  
  .underline{
      width: 100%;
      height: 5px;
      background: #767676;
      border-radius: 3px;
      position: absolute;
      top: 25px;
      left: 0;
  }
  .underline span{
      width: 15px;
      height: 100%;
      background: #fff;
      border-radius: 3px;
      position: absolute;
      top: 0;
      left: 15px;
      animation: run 2s linear infinite;
  }
  
  
  @keyframes run{
      0%{
          left: 0px;
      }
  100%{
      left: 80%;
  }
  
  
  
  }
  
  
  #pagecontainer{
    position: relative;
    min-height: 100vh;
}
#contentwrap{
    padding-bottom: 22.75rem;
}  

.eventDescription{
  overflow: hidden;
   
    }
