.event-container {
    font-family: "Roboto", sans-serif;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .event-container h3.year {
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid #b1b1b1;
  }
  
  .event-container .event {
    box-shadow: 0 4px 16px -8px #1a1815;
    display: flex;
    border-radius: 8px;
    margin: 32px 0;
    height: 82px;
  }
  
  .event .event-left {
    background: #222;
    min-width: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    padding: 8px 48px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 0 0 8px;
  }
  
  .event .event-left .date {
    font-size: 15px;
  }
  
  .event .event-left .month {
    font-size: 16px;
    font-weight: normal;
  }
  
  .event .event-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
  }
  
  .event .event-right h3.event-title {
    font-size: 24px;
    margin: 24px 0 10px 0;
    color: #218bbb;
    text-transform: uppercase;
  }
  
  .event .event-right .event-timing {
    background: #fff8ba;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 8px;
    border-radius: 16px;
    margin: 24px 0;
    font-size: 14px;
  }
  
  .event .event-right .event-timing img {
    height: 20px;
    padding-right: 8px;
  }
  
  @media (max-width: 550px) {
    .event {
      flex-direction: column;
    }
  
    .event .event-left {
      padding: 0;
      border-radius: 8px 8px 0 0;
    }
  
    .event .event-left .event-date .date,
    .event .event-left .event-date .month {
      display: inline-block;
      font-size: 24px;
    }
  
    .event .event-left .event-date {
      padding: 10px 0;
    }
  }
  .search-box {
    width: 350px;
    position: relative;
    display: flex;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
  }
  
  .search-input {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 15px 45px 15px 15px;
    background-color: #d6a163;
    color: #170808;
    border-radius: 6px;
    border:none;
    transition: all .4s;
    font-family: cursive;
  }
  .search-input::placeholder {
    color:  #1b0909;
    font-family: cursive;
  }
  .search-input:focus {
    border:none;
    outline:none;
    box-shadow: 0 1px 12px #3a3630;
    -moz-box-shadow: 0 1px 12px #28241f;
    -webkit-box-shadow: 0 1px 12px #1a1815;
  }
  
  .search-btn {
    background-color: transparent;
    font-size: 18px;
    padding: 6px 9px;
    margin-left:-45px;
    border:none;
    color: #1d0a0a;
    transition: all .4s;
    z-index: 10;
  }
  
  .search-btn:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: black;
  }
  
  .search-btn:focus {
    outline:none;
    color:black;
  }
  
 
  
  
  body{
    font-family: cursive;  
  }
  .background{
    background-image: url('https://cdn.wallpapersafari.com/64/57/G4SJ9W.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    filter: blur(2px);
    z-index: -1;
    
  }
  .textContainer{
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
    font-size: 32px;
    font-weight: 1000;
    color: rgb(39, 16, 16);
    
  }
  .invisible {
    visibility: hidden;
  }
  .event-description {
    color: rgb(20, 4, 4); 
    font-weight: 550;
    font-family: cursive; 
  }
  .spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spinner-rotate 1s linear infinite;
  }
  
  @keyframes spinner-rotate {
    to {
      transform: rotate(360deg);
    }
  }
  