*{
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;

     box-sizing: border-box; 
}
html{
     height: 100%; 
     /* width: 100%; */
     box-sizing: border-box; 
     overflow-x: hidden;
     /* width: fit-content; */
     
}
body{
       position: relative; 
       /* box-sizing: inherit; */
 background-image: linear-gradient(450deg, #f3e3c3 0% , #fbe7a1, #ede275);
    background-color: #f3e3c3;

    width: 100%;
     min-height: 100%; 
/* background-color: white; */
/* overflow: scroll; */
}

.span{
    color: #b8860b;
}
.container{
    width: 100%;   
    /* position: relative;
    min-height: 100vh; */
    padding: 1%;
    /* margin-bottom: 30px; */
   
}
.service{
    background:linear-gradient(450deg, #f3e3c3 0% , #fbe7a1, #ede275);
    width: 100%;
    padding: 100px 0px ;
}
.title h2{
    color:#140352;
    font-size: 50px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display:contents;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    
    
}
.card{
    height: 385px;
    max-width: auto;
    min-width:320px;
    padding: 20px 35px;
    background: linear-gradient(135deg, #2d0b00, #140352);

    border-radius: 20px;
    margin: 15px;
    position:relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size:50px;
    display:block;
    text-align: center;
    margin: 25px 0px;
    color:#b8860b;
}
h5{
    color: white;
    font-size: 20px;
    margin-bottom: 15px;

}
.pra p{
    color:white;
    font-size: 20px;
    line-height: auto ;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card .switch{
    background-color:#b8860b;
    color:white;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 10px;
    border-radius: 10px;
    transition: .4s;
    text-decoration: none;

}
.card .switch:hover{
    background-color: transparent;
    color: white;
    border: 2px solid #b8860b;
    cursor: pointer;
}
footer{
    width: 100%;
      position: absolute;  
    bottom: 0;
    /* z-index: 1; */
 height: 22.75rem;
    background: linear-gradient(to right, #00093c , #2d0b00);
    color: white;
    padding: 30px 0 20px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 17px;

}
.row{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    flex-wrap: wrap;
    align-items: flex-start;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.logo{
    width: 80px;
    margin-bottom: 30px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;  
}
ul li{
    list-style: none;
  
    margin-bottom: 12px;
}
 ul li a{
    text-decoration: none;
     color: white; 
}
.social .fa-brands{
    height: 40px;
    border-radius: 50%;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    background: #fff;
    color: #000;
    margin-right: 15px;
    cursor: pointer;
}

.social .fa-solid{height: 40px;
    border-radius: 50%;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    background: #fff;
    color: #000;
    margin-right: 15px;
    cursor: pointer;}
h3{
    color: white;
}
.col:nth-child(2){
    flex-basis: 15%;
}
hr{
    width: 90%;
    border:0;
    border-bottom: 1px solid #ccc;
    margin:20px auto ;
}
.copyright{
    text-align: center;
}

@media(max-width:920px){
    footer{
        bottom: unset;  
    }
    .col{
        flex-basis: 100%;

    }
    body{
        box-sizing: unset;
        
    }
    footer{
        padding: 30px 0 30px;
        position: absolute;
        height: unset;
    }
    #contentwrap{
        padding-bottom: unset;
    }
}

.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 15px;
    animation: run 2s linear infinite;
}


@keyframes run{
    0%{
        left: 0px;
    }
100%{
    left: 80%;
}



}




/* Navbar */


 .header{
    padding: 0 2 rem;
    height: 5.3rem;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:black; 
    background: linear-gradient(to right, #00093c , #2d0b00);
    position: sticky;
    border:3px solid darkblue;
} 


.icon{
    width: 3.3rem;
    height: 3.3rem;
}

.icon[name="close-outline"]{
    display: none;
}

.button{
    display: none;
    background: transparent;
    color: white;
    cursor: pointer;
}
.header h2{
     font-size: 1.6rem; 
     /* margin-bottom: 70px;  */
     margin-left: 10px;
    transition: 0.8s;
    background-image: linear-gradient(
        to right,
        #b8860b 0,
        #b8860b 22%, 
        #b8860b 45%,
        #b8860b 50%,
        #b8860b 55%,
        #b8860b 78%,
        #b8860b 100%
        );
       color:transparent;
       -webkit-background-clip:text;
}

.header h2 span{
    color: white;
    font-size: 1.8rem; 
}
body{
    overflow-x: hidden;
}
 .list{
    display: flex;
    font-size: large;
     gap: 4.1rem; 
     margin-right: 12px;
    list-style: none;
    background-image: linear-gradient(
	to right,
    
        white,
        white 22%, 
        gold 45%,
        rgb(214, 217, 31),
        #eac117 55%,
        #eac117 78%,
        #eac117 100% 
	 );
    -webkit-background-clip: text;
}
 /* .list:hover{
    color:white;
    scale(1.2);
    transform: .2s;
}  */

.link:link,.link:visited{
    display: inline-block;
    text-transform:uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
    color:transparent;
}

@media(max-width:920px){
    .button{
        display: block;
        z-index: 999;
        border: 3px solid black;
    }


    .navbar{
        width: 100%;
        height: 100vh;
         /* background: #041a31 ;  */
        background: linear-gradient(to right, #00093c , #2d0b00);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;


        display: flex;
        justify-content: center;
        align-items: center;

        transform: translateX(100%);
        transition: all 0.2s linear;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;

      
    }

    .list{
        flex-direction: column;
        align-items:center ;
        
    }

    .active .navbar{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .button .icon[name="close-outline"]{
        display: block;
    }

    .active .button .icon[name="menu-outline"]{
        display: none;
    }


}
 
#pagecontainer{
    position: relative;
    min-height: 100vh;
}
#contentwrap{
    padding-bottom: 22.75rem;
}

    
    
   
      section {
         position:relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: flex;
        z-index: 0;
        justify-content: center;
        align-items: center;
        text-align: center; 
      }
      section h2 {
        position: relative;
        color: #fff;
        font-size: 50px;
        text-transform: uppercase;
        font-weight: 1000;
        z-index: 2;
        transition: 2s;
        margin: 0 auto;
        background: linear-gradient(to right, #222d6d , #4a3129);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
      }
      @media screen and (max-width: 768px) {
          section h2 {
            font-size: 40px;
          }
        }
        
        @media screen and (max-width: 480px) {
          section h2 {
            font-size: 30px;
          }
        }
      section h2:hover{
          filter: blur(10px);
          transform: scale(1.2);
          cursor: pointer;
      }
      section img {
        position: absolute;
       z-index: -1;
        width: 100%;
        height: 100%;
        pointer-events: none;
      
        filter: blur(20px);
        transition: 2s;
      }
      section h2:hover ~ img{
        top: 0px;
        left: 0px;
          width: 100%;
          height: 100%;
          filter: blur(0px);
      }
      
  .pra p{
    font-size: 20px;
    font-weight: 800;
    color: white;
  }    
   h5{
    font-size: 32px;
    font-weight: 600;
   }   
 .extra{
    font-size: 1px;
    color: #f5ba27;
    margin-top: 300px;
    margin-left: 1000px;
 }     
      